swagger: '2.0'
info:
  version: '1.0'
  title: Gym
  contact: {}
host: gym.stack.co.id
basePath: /
securityDefinitions: {}
schemes:
- https
consumes:
- application/json
produces:
- application/json
paths:
  /member:
    get:
      summary: Get User
      tags:
      - Member
      operationId: GetUser
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      responses:
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/GetUser1'
          examples:
            application/json:
              code: 401
              message: token expired
              result: null
          headers:
            Date:
              type: string
              default: Wed, 29 Jun 2022 16:48:00 GMT
            Content-Length:
              type: string
              default: '53'
            Connection:
              type: string
              default: keep-alive
            Vary:
              type: string
              default: Origin
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Expect-CT:
              type: string
              default: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=QU2eVuhAeIkf4f0%2FZjdqLNmqg1UHLz56pyJe9crlJ7jcrVfPTyMjhLut5hhneSa4CtlYByqMOif1BcW0wlbBkpHydNckkmtnSWGJgmVXQqXx0n5rKAUhdGoqBJxzOkqnbSc%3D"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 723025b02e0d91bf-SIN
            alt-svc:
              type: string
              default: h3=":443"; ma=86400, h3-29=":443"; ma=86400
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GetUser2'
          examples:
            application/json:
              code: 200
              message: Success
              result:
                members:
                - id: 1
                  name: Abdul Kholiq
                  email: kholiqdev@icloud.com
                  created_at: 2022-06-12T20:25:38Z
                  updated_at: 2022-06-12T20:25:38Z
                - id: 3
                  name: Abdul Kholiq
                  email: kholiqdev12@icloud.com
                  created_at: 2022-06-15T12:12:52Z
                  updated_at: 2022-06-15T12:12:52Z
                - id: 5
                  name: Maharani
                  email: rani@gmail.com
                  created_at: 2022-06-29T16:52:09Z
                  updated_at: 2022-06-29T16:52:09Z
          headers:
            Date:
              type: string
              default: Wed, 29 Jun 2022 16:54:28 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Vary:
              type: string
              default: Origin
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Expect-CT:
              type: string
              default: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=ZwLuDngPhmTouHwcZ6iuwUwJeCiAl%2Bi6L1vk%2FtMy1O%2FjRdri9CYmb3%2Fpmo9C3ryj1rdS%2F0BxXVRz2XA8HmLMN3tVKf6Iel4iDGrUgsqnVa5YMzJ7QUzSoDdaV60YFo1qP64%3D"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 72302f2d1e3791bf-SIN
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400, h3-29=":443"; ma=86400
  /member/auth/register:
    post:
      summary: Register
      tags:
      - Member
      operationId: Register
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/RegisterRequest'
      responses:
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/Register1'
          examples:
            application/json:
              code: 400
              message: "Error 1062: Duplicate entry 'kholiqdev@icloud.com' for key 'members.email'"
              result: null
          headers:
            Date:
              type: string
              default: Wed, 29 Jun 2022 16:48:50 GMT
            Content-Length:
              type: string
              default: '114'
            Connection:
              type: string
              default: keep-alive
            Vary:
              type: string
              default: Origin
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Expect-CT:
              type: string
              default: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=DcCICk5j05dDHlfBJBs6ijeMxsJW2FlsC%2B6Ol30kBjhcH2ITpElHAtTwt2S0ikMxEiHlFjeXTFLwMojV7gnrT2%2FH64ywLpHB1SVChqR7SYFBlTYuVlJF%2FwFWeUNp3etCRnU%3D"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 723026ec3d7991bf-SIN
            alt-svc:
              type: string
              default: h3=":443"; ma=86400, h3-29=":443"; ma=86400
        '201':
          description: Created
          schema:
            $ref: '#/definitions/Register2'
          examples:
            application/json:
              code: 201
              message: Success
              result:
                id: 5
                name: Maharani
                email: rani@gmail.com
                created_at: 2022-06-29T16:52:08.543Z
                updated_at: 2022-06-29T16:52:08.543Z
          headers:
            Date:
              type: string
              default: Wed, 29 Jun 2022 16:52:08 GMT
            Content-Length:
              type: string
              default: '174'
            Connection:
              type: string
              default: keep-alive
            Vary:
              type: string
              default: Origin
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Expect-CT:
              type: string
              default: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=Oi0ef2EOPghmBt05KuFNntAq0OubEYqot%2BeyqDxcKQEro4KTmjvvnT8gMMpWIgK0NL2RQxlGx2cbYOdpbxhek%2BRFdSM%2FcbXJ1vwNBFLpUhUiNT7y2Svqm7CcFnVPPaL%2FhVQ%3D"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 72302bbf6e8691bf-SIN
            alt-svc:
              type: string
              default: h3=":443"; ma=86400, h3-29=":443"; ma=86400
      security: []
  /member/auth/login:
    post:
      summary: Login
      tags:
      - Member
      operationId: Login
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/LoginRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Login'
          examples:
            application/json:
              code: 200
              message: Success
              result:
                type: Bearer
                token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2NTY1Mjg1NTIsImlhdCI6MTY1NjUyMTM1MiwiaWQiOjEsIm5hbWUiOiJBYmR1bCBLaG9saXEiLCJyb2xlIjoibWVtYmVyIiwidG9rZW5fdHlwZSI6ImFjY2Vzc190b2tlbiJ9.x1GKs3VvxfdOeTOHJRsHYU-aQDOpG7JfUcZkLvAMO3E
                refresh_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2NTY1Mjg1NTIsImlhdCI6MTY1NjUyMTM1MiwiaWQiOjEsIm5hbWUiOiJBYmR1bCBLaG9saXEiLCJyb2xlIjoibWVtYmVyIiwidG9rZW5fdHlwZSI6InJlZnJlc2hfdG9rZW4ifQ.1yhQIErbmzZSnjLuNTZ0KC1kBZ3ay-TShwmd7sXpeCQ
          headers:
            Date:
              type: string
              default: Wed, 29 Jun 2022 16:49:12 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Vary:
              type: string
              default: Origin
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Expect-CT:
              type: string
              default: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=%2BTIST0kFpLvf43wEMHzWPfK9D3vBiCP%2BgMpkV%2Bz%2FfAVrFAl9bwb0CphFXq8l8lWCt2X1dca%2FPHiyVXT94%2Fi2FzzpcEu9vhAmqFqWrZNDgnUhfQAWGpqiSpzhaqaKJPUkizM%3D"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 723027764bd791bf-SIN
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400, h3-29=":443"; ma=86400
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/Login2'
          examples:
            application/json:
              code: 401
              message: record not found
              result: null
          headers:
            Date:
              type: string
              default: Wed, 29 Jun 2022 16:53:41 GMT
            Content-Length:
              type: string
              default: '56'
            Connection:
              type: string
              default: keep-alive
            Vary:
              type: string
              default: Origin
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Expect-CT:
              type: string
              default: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=w3wosOIgILZfs3zPMMsIV4LGYY4jm8TRzg8lvb4Ir4awOV6bTx7LDNcF5YiSlTUK6K8UExt6Og3AYu1q7QVTI%2FTUjkr%2BAfM0g%2FEU046208k%2BWw0fg7VUKyeJohjZX3qU%2FQs%3D"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 72302e011c6991bf-SIN
            alt-svc:
              type: string
              default: h3=":443"; ma=86400, h3-29=":443"; ma=86400
      security: []
  /member/auth/refresh:
    post:
      summary: Refresh
      tags:
      - Member
      operationId: Refresh
      deprecated: false
      produces:
      - application/json
      - application/json; charset=UTF-8
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Refresh'
          examples:
            application/json:
              code: 200
              message: Success
              result:
                type: Bearer
                token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2NTY1Mjg5NTMsImlhdCI6MTY1NjUyMTc1MywiaWQiOjEsIm5hbWUiOiJBYmR1bCBLaG9saXEiLCJyb2xlIjoibWVtYmVyIiwidG9rZW5fdHlwZSI6ImFjY2Vzc190b2tlbiJ9.j_TTm4xG_RJZBWhEEDcPz-LwXgN2kRQyX6G3YKffxnI
                refresh_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2NTY1Mjg5NTMsImlhdCI6MTY1NjUyMTc1MywiaWQiOjEsIm5hbWUiOiJBYmR1bCBLaG9saXEiLCJyb2xlIjoibWVtYmVyIiwidG9rZW5fdHlwZSI6InJlZnJlc2hfdG9rZW4ifQ.PSrOY7sjIz3VWpNg9mrfzcylq416I43wB85YVsTLlIA
          headers:
            Date:
              type: string
              default: Wed, 29 Jun 2022 16:55:53 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Vary:
              type: string
              default: Origin
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Expect-CT:
              type: string
              default: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=nFswY4W31F2tcxZArzWSlVXh8NmrddGc0SbvI2qgld9wqM8L8BWde0ensUJ8W4GKBLVc%2BUdPDfo5fFJCxJRhk8BVqM8G0UvzbAgYNEA8bGEgdG5xK7FPlX8vHeJ09H%2B%2FNGA%3D"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 7230313f9ed691bf-SIN
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400, h3-29=":443"; ma=86400
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/Refresh2'
          examples:
            application/json; charset=UTF-8:
              message: invalid or expired jwt
          headers:
            Date:
              type: string
              default: Wed, 29 Jun 2022 16:56:13 GMT
            Content-Length:
              type: string
              default: '37'
            Connection:
              type: string
              default: keep-alive
            Vary:
              type: string
              default: Origin
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Expect-CT:
              type: string
              default: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=P40pBEq4dc7%2FqxM9MuKiEbqQLI63vF4oBmK18AYBZ%2FgtQJiO%2F%2BqnxJ8SfJcum2Yjs0tR7Tuis3giRYuO6C2w1yGbI6ItmFSvHUP0RUB6YkS59ERrI5zbQf5MDjWOHNHNHwI%3D"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 723031b90a5f91bf-SIN
            alt-svc:
              type: string
              default: h3=":443"; ma=86400, h3-29=":443"; ma=86400
  /user/5:
    get:
      summary: Detail
      tags:
      - Member
      operationId: Detail
      deprecated: false
      produces:
      - application/json; charset=UTF-8
      parameters: []
      responses:
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/Detail1'
          examples:
            application/json; charset=UTF-8:
              message: Not Found
          headers:
            Date:
              type: string
              default: Wed, 29 Jun 2022 16:57:36 GMT
            Content-Length:
              type: string
              default: '24'
            Connection:
              type: string
              default: keep-alive
            Vary:
              type: string
              default: Origin
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Expect-CT:
              type: string
              default: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=hkpV%2FJK4pEVOD4WHG2XpiEDL4ERW6PMMZ%2Fr3uyW68WhxPuFeOayER2uD%2F7DmjcbKstfjD%2BXi3CbPKMv%2BwmQmcaIbHVbrKKO8vXyzRxeCsqXptciZ2h7K3LNFMqUoMP1lk48%3D"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 723033c29ae091bf-SIN
            alt-svc:
              type: string
              default: h3=":443"; ma=86400, h3-29=":443"; ma=86400
      security: []
  /member/join:
    post:
      summary: Join
      tags:
      - Member
      operationId: Join
      deprecated: false
      produces:
      - application/json; charset=UTF-8
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/JoinRequest'
      responses:
        '405':
          description: Method Not Allowed
          schema:
            $ref: '#/definitions/Join1'
          examples:
            application/json; charset=UTF-8:
              message: Method Not Allowed
          headers:
            Date:
              type: string
              default: Wed, 29 Jun 2022 16:58:36 GMT
            Content-Length:
              type: string
              default: '33'
            Connection:
              type: string
              default: keep-alive
            Allow:
              type: string
              default: OPTIONS, GET
            Vary:
              type: string
              default: Origin
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Expect-CT:
              type: string
              default: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=MqbbmtnFiFYdiqkO7Qt0FJhs0F%2B75YCTHbDEqq5EuFaqTLKgKRKK2xCHlgXUVQAj%2BSS3cktHNTJ6lFoy9s8UP2abfeyyHfSZeQ%2FpuEZUNefQVI1qpO9GevTSYmHHrnzY5Zc%3D"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 72303539ab1791bf-SIN
            alt-svc:
              type: string
              default: h3=":443"; ma=86400, h3-29=":443"; ma=86400
  /admin/user/list:
    get:
      summary: User List
      tags:
      - User
      operationId: UserList
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      responses:
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/userlist1'
          examples:
            application/json:
              code: 401
              message: token expired
              result: null
          headers:
            Date:
              type: string
              default: Tue, 12 Jul 2022 02:44:18 GMT
            Content-Length:
              type: string
              default: '53'
            Connection:
              type: string
              default: keep-alive
            Vary:
              type: string
              default: Origin
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Expect-CT:
              type: string
              default: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=g6%2Fu%2FX1AaLVVaODgMROpkaGFEFJ38SC7jrNmPRgn1GX%2FrJSacDngBB5uqjnYeLp4wGMuKGZAdN%2BjRStJTJvmRj0VuvHvlJFn3iwdlqieVr5jmEq9FCvuBtZw1h4Tl0H8fpk%3D"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 72966faa79c1a047-SIN
            alt-svc:
              type: string
              default: h3=":443"; ma=86400, h3-29=":443"; ma=86400
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/userlist1'
          examples:
            application/json:
              code: 400
              message: 'strconv.Atoi: parsing "user/list": invalid syntax'
              result: null
          headers:
            Date:
              type: string
              default: Tue, 12 Jul 2022 03:02:40 GMT
            Content-Length:
              type: string
              default: '91'
            Connection:
              type: string
              default: keep-alive
            Vary:
              type: string
              default: Origin
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Expect-CT:
              type: string
              default: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=%2BHRBszd%2BrE7rkvsClqb2hxm4AI6WBh3rqzOJ6vHULuA2hSCmGyb5m95nZP8Klq4b60Cem5xcCKSLTqE2m36DZ6aGSzVOfKHPbwBHf2eNwCrAyq8FMpIAtF1ff6mKZyUuGRc%3D"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 72968a932d29a047-SIN
            alt-svc:
              type: string
              default: h3=":443"; ma=86400, h3-29=":443"; ma=86400
  /admin/list:
    get:
      summary: Get Admin
      tags:
      - Admin
      operationId: GetAdmin
      deprecated: false
      produces:
      - application/json
      - application/json; charset=UTF-8
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GetAdmin'
          examples:
            application/json:
              code: 200
              message: Success
              result:
                admins:
                - id: 1
                  name: Admin
                  phone: '089647583033'
                  email: admin@mail.com
                  created_at: 2022-06-12T20:14:28Z
                  updated_at: 2022-06-12T20:14:28Z
                - id: 2
                  name: Admin
                  phone: '089647583033'
                  email: admin12@mail.com
                  created_at: 2022-06-15T12:13:52Z
                  updated_at: 2022-06-15T12:13:52Z
          headers:
            Date:
              type: string
              default: Wed, 29 Jun 2022 17:07:17 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Vary:
              type: string
              default: Origin
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Expect-CT:
              type: string
              default: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=qfNpwfcgqQkPVBl4%2BxM6%2FqB8jr9QV4Fd0DPTOkqze3Jc75z4Su3ac%2Fql6S%2BuIuLnyYCEomNJFggRnJzIkyuzgKsdbmrmMZKQdpxT3U0UNhpIpmrKoe0Clim91HUy3rDfywE%3D"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 723041f35b9091bf-SIN
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400, h3-29=":443"; ma=86400
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/GetAdmin2'
          examples:
            application/json; charset=UTF-8:
              message: invalid or expired jwt
          headers:
            Date:
              type: string
              default: Wed, 29 Jun 2022 17:08:12 GMT
            Content-Length:
              type: string
              default: '37'
            Connection:
              type: string
              default: keep-alive
            Vary:
              type: string
              default: Origin
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Expect-CT:
              type: string
              default: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=WGepc%2Bj2HNUUydcXgiJqMv1jCAbLXarhPgD0FZr0%2BfWslo6yTPqMpj97Vw1H78I0TKS0I6NskyLXJzBKTLLOWBlPkzd2zDO6fIAgQLvPVQosPuBXznuD0PkMAIPZM3qsdmk%3D"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 7230434b298d91bf-SIN
            alt-svc:
              type: string
              default: h3=":443"; ma=86400, h3-29=":443"; ma=86400
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GetAdmin2'
          examples:
            application/json; charset=UTF-8:
              message: missing or malformed jwt
          headers:
            Date:
              type: string
              default: Wed, 29 Jun 2022 17:08:41 GMT
            Content-Length:
              type: string
              default: '39'
            Connection:
              type: string
              default: keep-alive
            Vary:
              type: string
              default: Origin
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Expect-CT:
              type: string
              default: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=9DLNGEkMXjnN0T9DqJ5yePGP%2B5NDWcq7qe2lpaHZy5RGAPmBtrPjiKnG2saAU%2FaMIy8S%2F5%2BJYFeBApIkbUovdjeuHewvoX87fzDgPxbH74uWM4OB0QO2oyTim0HHMdPPLNk%3D"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 723043febce991bf-SIN
            alt-svc:
              type: string
              default: h3=":443"; ma=86400, h3-29=":443"; ma=86400
  /admin/member-type/create:
    post:
      summary: Create Member Type
      tags:
      - Admin
      operationId: CreateMemberType
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/CreateMemberTypeRequest'
      responses:
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/CreateMemberType1'
          examples:
            application/json:
              code: 401
              message: token expired
              result: null
          headers:
            Date:
              type: string
              default: Wed, 29 Jun 2022 17:00:24 GMT
            Content-Length:
              type: string
              default: '53'
            Connection:
              type: string
              default: keep-alive
            Vary:
              type: string
              default: Origin
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Expect-CT:
              type: string
              default: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=RCr2EGp9Gz7ejjAyDFitfFfsrgciDKIXIvVg8t4zENxPFL13aJc5I29Sd7HwIfvBQxySeS3UnF47DzYO6lWDwnwc406dIKYrr3UJrZE2rcZHlyAqi4yIORlgHbwL6wr8uZ0%3D"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 723037da1ca891bf-SIN
            alt-svc:
              type: string
              default: h3=":443"; ma=86400, h3-29=":443"; ma=86400
        '201':
          description: Created
          schema:
            $ref: '#/definitions/CreateMemberType2'
          examples:
            application/json:
              code: 201
              message: Success
              result:
                id: 2
                name: Free
                description: Access Free Ccontent
                price: 100000
                created_at: 2022-06-29T17:01:51.012Z
                updated_at: 2022-06-29T17:01:51.012Z
          headers:
            Date:
              type: string
              default: Wed, 29 Jun 2022 17:01:51 GMT
            Content-Length:
              type: string
              default: '197'
            Connection:
              type: string
              default: keep-alive
            Vary:
              type: string
              default: Origin
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Expect-CT:
              type: string
              default: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=BE7mJ1R2R78ceeKiXfzF7ODWWtqza2F8Ye4eBYhqpvrJCgtrOa2HjArGo%2BvuWdfwq7sWkqN%2BmS3ratfgEjU2%2FzWBvVmnwlxxH%2BKcBVtGlPAIKog%2Bycr6uEg9GfTDOS2Zj2w%3D"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 723039f90f5291bf-SIN
            alt-svc:
              type: string
              default: h3=":443"; ma=86400, h3-29=":443"; ma=86400
  /admin/auth/login:
    post:
      summary: Login
      tags:
      - Admin
      operationId: PostLogin
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/LoginRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Login'
          examples:
            application/json:
              code: 200
              message: Success
              result:
                type: Bearer
                token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2NTY1MjkyNDgsImlhdCI6MTY1NjUyMjA0OCwiaWQiOjEsIm5hbWUiOiJBZG1pbiIsInJvbGUiOiJhZG1pbiIsInRva2VuX3R5cGUiOiJhY2Nlc3NfdG9rZW4ifQ.9r8nNMpnqgX7huhj7sW_MZieEBVPECHFDOfPwCMMPS0
                refresh_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2NTY1MjkyNDgsImlhdCI6MTY1NjUyMjA0OCwiaWQiOjEsIm5hbWUiOiJBZG1pbiIsInJvbGUiOiJhZG1pbiIsInRva2VuX3R5cGUiOiJyZWZyZXNoX3Rva2VuIn0.qbA1oRZVYQ9WMGXTISjNmuzGzBRUhYodWSUTE2OICZI
          headers:
            Date:
              type: string
              default: Wed, 29 Jun 2022 17:00:48 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Vary:
              type: string
              default: Origin
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Expect-CT:
              type: string
              default: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=2k34xbGXl0jGFesQgtn3Pv7VStTgvdFL5PpKkfreCTpGDpiqqR1wpKOYxFEwoeIAFZ1uMXowQT4OFyKfeSeh3BOgJqxMd6SlabyOVMF%2BJeZTlfkt3p8viC5sr1aXqk5AF8U%3D"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 723038730c0d91bf-SIN
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400, h3-29=":443"; ma=86400
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/Login2'
          examples:
            application/json:
              code: 401
              message: record not found
              result: null
          headers:
            Date:
              type: string
              default: Wed, 29 Jun 2022 17:02:35 GMT
            Content-Length:
              type: string
              default: '56'
            Connection:
              type: string
              default: keep-alive
            Vary:
              type: string
              default: Origin
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Expect-CT:
              type: string
              default: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=yJ9e4XzSYpedbI8MBx7W0H2HjNsvV4LYeS4IMlaLeNpK20dQvxBwVe0%2FuzI7ZuLS16OvEphRgxl%2BAs90u6C8r4%2B3baK0dX9MJSUEKC80yoyWhCRzon7t2wpJmhiaFrsasd8%3D"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 72303b0bcd3b91bf-SIN
            alt-svc:
              type: string
              default: h3=":443"; ma=86400, h3-29=":443"; ma=86400
      security: []
  /admin/1:
    get:
      summary: Detail
      tags:
      - Admin
      operationId: GetDetail
      deprecated: false
      produces:
      - application/json; charset=UTF-8
      parameters: []
      responses:
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/Detail1'
          examples:
            application/json; charset=UTF-8:
              message: missing or malformed jwt
          headers:
            Date:
              type: string
              default: Wed, 29 Jun 2022 17:03:54 GMT
            Content-Length:
              type: string
              default: '39'
            Connection:
              type: string
              default: keep-alive
            Vary:
              type: string
              default: Origin
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Expect-CT:
              type: string
              default: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=%2FkjLeBNrZINLA9%2FhuiF0n%2BKn9amAlMjh%2FvLZo%2BCImbw2ojs1OMdBJp4nY%2F3VvmAJot0wSzVM5R5tx8iCVkQTMcN5IjmixI6jHfY3QG%2FwG6PRFn9iVjhkXLxOlwt%2FtjpoqJY%3D"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 72303cf889bc91bf-SIN
            alt-svc:
              type: string
              default: h3=":443"; ma=86400, h3-29=":443"; ma=86400
      security: []
  /admin/class/create:
    post:
      summary: Create Class
      tags:
      - Admin
      operationId: CreateClass
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/CreateClassRequest'
      responses:
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/CreateClass1'
          examples:
            application/json:
              code: 401
              message: token expired
              result: null
          headers:
            Date:
              type: string
              default: Wed, 29 Jun 2022 17:04:33 GMT
            Content-Length:
              type: string
              default: '53'
            Connection:
              type: string
              default: keep-alive
            Vary:
              type: string
              default: Origin
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Expect-CT:
              type: string
              default: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=18tqbItxJO%2FPttS03jlgpo6ONHDXbw0dMtmt81qwzEgAUPjKQ1zcgdFwBShtfWgmoTIIz5cNmxjcti8oaz%2FXBNmU4FkA2c%2Bf1p7kxIl0e7wvP740O%2FpODiPnwpdADS5t%2BlU%3D"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 72303df23aa691bf-SIN
            alt-svc:
              type: string
              default: h3=":443"; ma=86400, h3-29=":443"; ma=86400
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/CreateClass1'
          examples:
            application/json:
              code: 400
              message: 'Error 1452: Cannot add or update a child row: a foreign key constraint fails (`gym`.`classes`, CONSTRAINT `fk_classes_class_category` FOREIGN KEY (`class_category_id`) REFERENCES `class_categories` (`id`) ON DELETE CASCADE ON UPDATE CASCADE)'
              result: null
          headers:
            Date:
              type: string
              default: Wed, 29 Jun 2022 17:05:17 GMT
            Content-Length:
              type: string
              default: '281'
            Connection:
              type: string
              default: keep-alive
            Vary:
              type: string
              default: Origin
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Expect-CT:
              type: string
              default: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=%2FyXv7MaXkRDrrlar49Ntmv3CGXjEYGtVOcJL6lRGG8qNaVSI9vHCYjXdAH%2BJEx8IDRWAgsrfRrdX%2BVxbjrOo%2BFWCSneDluufz0RNHwwiyHPIpymw8V9Mz5V4X7qS%2FjW8lUY%3D"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 72303f034dac91bf-SIN
            alt-svc:
              type: string
              default: h3=":443"; ma=86400, h3-29=":443"; ma=86400
  /admin/class-category/create:
    post:
      summary: Create Class Category
      tags:
      - Admin
      operationId: CreateClassCategory
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/CreateClassCategoryRequest'
      responses:
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/CreateClassCategory1'
          examples:
            application/json:
              code: 401
              message: token expired
              result: null
          headers:
            Date:
              type: string
              default: Wed, 29 Jun 2022 17:09:42 GMT
            Content-Length:
              type: string
              default: '53'
            Connection:
              type: string
              default: keep-alive
            Vary:
              type: string
              default: Origin
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Expect-CT:
              type: string
              default: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=WwocxvABybLmI9IIlruL8AWNmDEA973XnncvypwAlJfAmpFsQnCo2Wpx0mDsG70jIPDpmLovZ7h6Gy2yz5La91VaL1W%2FCh9cHtVvQzykxo5IxaxHJGSbisFrfygs1XiY%2Bbw%3D"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 7230457db92091bf-SIN
            alt-svc:
              type: string
              default: h3=":443"; ma=86400, h3-29=":443"; ma=86400
        '201':
          description: Created
          schema:
            $ref: '#/definitions/CreateClassCategory2'
          examples:
            application/json:
              code: 201
              message: Success
              result:
                id: 1
                name: push down
                slug: push-down
          headers:
            Date:
              type: string
              default: Wed, 29 Jun 2022 17:10:20 GMT
            Content-Length:
              type: string
              default: '89'
            Connection:
              type: string
              default: keep-alive
            Vary:
              type: string
              default: Origin
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Expect-CT:
              type: string
              default: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=sEK1Pa06kD%2BVI6tKBl3wFAO8p%2B%2Bk%2FsgkUjVWNZ6eZzdNTM8fl2bx3fxcNz5EAodVpAn%2BgEsKUkf3CPs1x5fbuJMTcdSEquEu5yF0H6Pi7pVa7sWWeTP2Dj%2FhDhkNrJ3K2nY%3D"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 7230466a688891bf-SIN
            alt-svc:
              type: string
              default: h3=":443"; ma=86400, h3-29=":443"; ma=86400
  /admin/create:
    post:
      summary: Create New Admin
      tags:
      - Admin
      operationId: CreateNewAdmin
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/CreateNewAdminRequest'
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/CreateNewAdmin'
          examples:
            application/json:
              code: 201
              message: Success
              result:
                id: 3
                name: Admin2
                phone: '0896287363'
                email: admin2@mail.com
                created_at: 2022-06-29T17:11:26.185Z
                updated_at: 2022-06-29T17:11:26.185Z
          headers:
            Date:
              type: string
              default: Wed, 29 Jun 2022 17:11:26 GMT
            Content-Length:
              type: string
              default: '194'
            Connection:
              type: string
              default: keep-alive
            Vary:
              type: string
              default: Origin
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Expect-CT:
              type: string
              default: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=5Gt%2BxwvxRM8I1KWzM7L%2FM8oXu%2BXL1xa3dbRA6lnkF4I1FAcJalbaPqeW9gd%2BRVc7oXGEjundCQPrtUyo%2FSHe5gKMiPYDO8HW1BLQhoNH%2F25gpO6Nz3AXF%2FXzHckvNtQmcH8%3D"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 723048022d3891bf-SIN
            alt-svc:
              type: string
              default: h3=":443"; ma=86400, h3-29=":443"; ma=86400
      security: []
  /admin/class-category:
    get:
      summary: Get Class Category
      tags:
      - Admin
      operationId: GetClassCategory
      deprecated: false
      produces:
      - application/json
      - application/json; charset=UTF-8
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      responses:
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/GetClassCategory1'
          examples:
            application/json:
              code: 401
              message: token expired
              result: null
            application/json; charset=UTF-8:
              message: invalid or expired jwt
          headers:
            Date:
              type: string
              default: Wed, 29 Jun 2022 17:12:09 GMT
            Content-Length:
              type: string
              default: '53'
            Connection:
              type: string
              default: keep-alive
            Vary:
              type: string
              default: Origin
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Expect-CT:
              type: string
              default: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=J6QUaqU%2FKd9R7pawu6XxeGeGoDjO%2F9ETGKFHQ%2FE75HlHrsfKe1oU3iEqOwSL7Hm5lWWu8KpeYCi%2BqCF5fu0JcC1FJRMgtnx6%2FyH4BxEVIsAU%2F5B8h8upYBk9GlGEH3F3BlI%3D"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 723049101d5c91bf-SIN
            alt-svc:
              type: string
              default: h3=":443"; ma=86400, h3-29=":443"; ma=86400
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GetClassCategory2'
          examples:
            application/json:
              code: 200
              message: Success
              result:
                class_category:
                  data:
                  - id: 1
                    name: push down
                    slug: push-down
                  page: 1
                  page_size: 10
                  sort: Id desc
                  total_page: 1
                  total_rows: 1
          headers:
            Date:
              type: string
              default: Wed, 29 Jun 2022 17:12:40 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Vary:
              type: string
              default: Origin
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Expect-CT:
              type: string
              default: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=HLtJW9v0t2wXWl1TRGvchakcmv3HFBaqxd9uxKyzqxiSjzn4L2FGfHfgAa0PhtZxZjylwH8l3VDOY1AOIGPUH5NZ7IpPCAZPXj8v9Hw4vcTqYIDKhCI7TcUcqJJEoHpsspQ%3D"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 723049d6295091bf-SIN
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400, h3-29=":443"; ma=86400
  /class:
    get:
      summary: Get Class
      tags:
      - Class
      operationId: GetClass
      deprecated: false
      produces:
      - application/json
      - application/json; charset=UTF-8
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GetClass'
          examples:
            application/json:
              code: 200
              message: Success
              result:
                classes:
                  data:
                  - class_category_id: 1
                    trainer_name: Sofyan
                    id: 4
                    name: Class 3
                    description: Halos
                    price: 10000
                    meet_link: http://google.com
                    image: http://google.com
                    date: 2022-06-18T00:00:00Z
                    start_time: 09:30:00
                    end_time: 11:00:00
                    is_offline: true
                    category_name: push down
                    created_at: 2022-07-11T00:52:56Z
                    updated_at: 2022-07-11T00:52:56Z
                  page: 1
                  page_size: 10
                  sort: Id desc
                  total_page: 1
                  total_rows: 1
          headers:
            Date:
              type: string
              default: Tue, 12 Jul 2022 03:00:28 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Vary:
              type: string
              default: Origin
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Expect-CT:
              type: string
              default: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=NIXulf1DWzhSeGd3PBh4UbcZg1CJVfYw0D%2Fp1COXmp0FoG%2B9pFEw0Zov2X47wrdbryXVwrGFhY1QRtBy6uxY74OnQa1%2BgSC%2Fde0TrdvztF9i%2Bp5xS%2BkmvGPp8QMHP5eWUcg%3D"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 7296875c0c48a047-SIN
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400, h3-29=":443"; ma=86400
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/GetClass2'
          examples:
            application/json; charset=UTF-8:
              message: invalid or expired jwt
          headers:
            Date:
              type: string
              default: Tue, 12 Jul 2022 03:01:04 GMT
            Content-Length:
              type: string
              default: '37'
            Connection:
              type: string
              default: keep-alive
            Vary:
              type: string
              default: Origin
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Expect-CT:
              type: string
              default: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=nV6P6K39LlUDiY57oPtwsM3O%2FjZANNeyvqp1Z1yNLuZXr%2Fqj3uzYTdQCxGsynmllqdvmuN4IsQDJX4bdPF22c%2FI2e41QJ6bF%2BTLx%2Bg4ZpwWiZ513dljR6sWQnz%2BGcsbkHXk%3D"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 7296883cca62a047-SIN
            alt-svc:
              type: string
              default: h3=":443"; ma=86400, h3-29=":443"; ma=86400
definitions:
  GetUser1:
    title: GetUser1
    example:
      code: 401
      message: token expired
      result: null
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      result:
        type: string
    required:
    - code
    - message
    - result
  GetUser2:
    title: GetUser2
    example:
      code: 200
      message: Success
      result:
        members:
        - id: 1
          name: Abdul Kholiq
          email: kholiqdev@icloud.com
          created_at: 2022-06-12T20:25:38Z
          updated_at: 2022-06-12T20:25:38Z
        - id: 3
          name: Abdul Kholiq
          email: kholiqdev12@icloud.com
          created_at: 2022-06-15T12:12:52Z
          updated_at: 2022-06-15T12:12:52Z
        - id: 5
          name: Maharani
          email: rani@gmail.com
          created_at: 2022-06-29T16:52:09Z
          updated_at: 2022-06-29T16:52:09Z
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      result:
        $ref: '#/definitions/Result'
    required:
    - code
    - message
    - result
  Result:
    title: Result
    example:
      members:
      - id: 1
        name: Abdul Kholiq
        email: kholiqdev@icloud.com
        created_at: 2022-06-12T20:25:38Z
        updated_at: 2022-06-12T20:25:38Z
      - id: 3
        name: Abdul Kholiq
        email: kholiqdev12@icloud.com
        created_at: 2022-06-15T12:12:52Z
        updated_at: 2022-06-15T12:12:52Z
      - id: 5
        name: Maharani
        email: rani@gmail.com
        created_at: 2022-06-29T16:52:09Z
        updated_at: 2022-06-29T16:52:09Z
    type: object
    properties:
      members:
        type: array
        items:
          $ref: '#/definitions/Member'
    required:
    - members
  Member:
    title: Member
    example:
      id: 1
      name: Abdul Kholiq
      email: kholiqdev@icloud.com
      created_at: 2022-06-12T20:25:38Z
      updated_at: 2022-06-12T20:25:38Z
    type: object
    properties:
      id:
        type: integer
        format: int32
      name:
        type: string
      email:
        type: string
      created_at:
        type: string
      updated_at:
        type: string
    required:
    - id
    - name
    - email
    - created_at
    - updated_at
  RegisterRequest:
    title: RegisterRequest
    example:
      name: Maharani
      phone: '08781928349'
      email: rani@gmail.com
      password: password123
    type: object
    properties:
      name:
        type: string
      phone:
        type: string
      email:
        type: string
      password:
        type: string
    required:
    - name
    - phone
    - email
    - password
  Register1:
    title: Register1
    example:
      code: 400
      message: "Error 1062: Duplicate entry 'kholiqdev@icloud.com' for key 'members.email'"
      result: null
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      result:
        type: string
    required:
    - code
    - message
    - result
  Register2:
    title: Register2
    example:
      code: 201
      message: Success
      result:
        id: 5
        name: Maharani
        email: rani@gmail.com
        created_at: 2022-06-29T16:52:08.543Z
        updated_at: 2022-06-29T16:52:08.543Z
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      result:
        $ref: '#/definitions/Result1'
    required:
    - code
    - message
    - result
  Result1:
    title: Result1
    example:
      id: 5
      name: Maharani
      email: rani@gmail.com
      created_at: 2022-06-29T16:52:08.543Z
      updated_at: 2022-06-29T16:52:08.543Z
    type: object
    properties:
      id:
        type: integer
        format: int32
      name:
        type: string
      email:
        type: string
      created_at:
        type: string
      updated_at:
        type: string
    required:
    - id
    - name
    - email
    - created_at
    - updated_at
  LoginRequest:
    title: LoginRequest
    example:
      email: kholiqdev@icloud.com
      password: password
    type: object
    properties:
      email:
        type: string
      password:
        type: string
    required:
    - email
    - password
  Login:
    title: Login
    example:
      code: 200
      message: Success
      result:
        type: Bearer
        token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2NTY1Mjg1NTIsImlhdCI6MTY1NjUyMTM1MiwiaWQiOjEsIm5hbWUiOiJBYmR1bCBLaG9saXEiLCJyb2xlIjoibWVtYmVyIiwidG9rZW5fdHlwZSI6ImFjY2Vzc190b2tlbiJ9.x1GKs3VvxfdOeTOHJRsHYU-aQDOpG7JfUcZkLvAMO3E
        refresh_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2NTY1Mjg1NTIsImlhdCI6MTY1NjUyMTM1MiwiaWQiOjEsIm5hbWUiOiJBYmR1bCBLaG9saXEiLCJyb2xlIjoibWVtYmVyIiwidG9rZW5fdHlwZSI6InJlZnJlc2hfdG9rZW4ifQ.1yhQIErbmzZSnjLuNTZ0KC1kBZ3ay-TShwmd7sXpeCQ
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      result:
        $ref: '#/definitions/Result2'
    required:
    - code
    - message
    - result
  Result2:
    title: Result2
    example:
      type: Bearer
      token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2NTY1Mjg1NTIsImlhdCI6MTY1NjUyMTM1MiwiaWQiOjEsIm5hbWUiOiJBYmR1bCBLaG9saXEiLCJyb2xlIjoibWVtYmVyIiwidG9rZW5fdHlwZSI6ImFjY2Vzc190b2tlbiJ9.x1GKs3VvxfdOeTOHJRsHYU-aQDOpG7JfUcZkLvAMO3E
      refresh_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2NTY1Mjg1NTIsImlhdCI6MTY1NjUyMTM1MiwiaWQiOjEsIm5hbWUiOiJBYmR1bCBLaG9saXEiLCJyb2xlIjoibWVtYmVyIiwidG9rZW5fdHlwZSI6InJlZnJlc2hfdG9rZW4ifQ.1yhQIErbmzZSnjLuNTZ0KC1kBZ3ay-TShwmd7sXpeCQ
    type: object
    properties:
      type:
        type: string
      token:
        type: string
      refresh_token:
        type: string
    required:
    - type
    - token
    - refresh_token
  Login2:
    title: Login2
    example:
      code: 401
      message: record not found
      result: null
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      result:
        type: string
    required:
    - code
    - message
    - result
  Refresh:
    title: Refresh
    example:
      code: 200
      message: Success
      result:
        type: Bearer
        token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2NTY1Mjg5NTMsImlhdCI6MTY1NjUyMTc1MywiaWQiOjEsIm5hbWUiOiJBYmR1bCBLaG9saXEiLCJyb2xlIjoibWVtYmVyIiwidG9rZW5fdHlwZSI6ImFjY2Vzc190b2tlbiJ9.j_TTm4xG_RJZBWhEEDcPz-LwXgN2kRQyX6G3YKffxnI
        refresh_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2NTY1Mjg5NTMsImlhdCI6MTY1NjUyMTc1MywiaWQiOjEsIm5hbWUiOiJBYmR1bCBLaG9saXEiLCJyb2xlIjoibWVtYmVyIiwidG9rZW5fdHlwZSI6InJlZnJlc2hfdG9rZW4ifQ.PSrOY7sjIz3VWpNg9mrfzcylq416I43wB85YVsTLlIA
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      result:
        $ref: '#/definitions/Result2'
    required:
    - code
    - message
    - result
  Refresh2:
    title: Refresh2
    example:
      message: invalid or expired jwt
    type: object
    properties:
      message:
        type: string
    required:
    - message
  Detail1:
    title: Detail1
    example:
      message: Not Found
    type: object
    properties:
      message:
        type: string
    required:
    - message
  JoinRequest:
    title: JoinRequest
    example:
      member_type_id: 1
      start_at: 2022-06-18
      nik: '350919191806999003'
      name: Abdul Kholiq
      gender: L
      address: jln ahmad yani 6 jember
      city: jember
      postal_code: '680137'
      email: kholiqdev@icloud.com
      phone: '0896475830303'
    type: object
    properties:
      member_type_id:
        type: integer
        format: int32
      start_at:
        type: string
      nik:
        type: string
      name:
        type: string
      gender:
        type: string
      address:
        type: string
      city:
        type: string
      postal_code:
        type: string
      email:
        type: string
      phone:
        type: string
    required:
    - member_type_id
    - start_at
    - nik
    - name
    - gender
    - address
    - city
    - postal_code
    - email
    - phone
  Join1:
    title: Join1
    example:
      message: Method Not Allowed
    type: object
    properties:
      message:
        type: string
    required:
    - message
  userlist1:
    title: userlist1
    example:
      code: 401
      message: token expired
      result: null
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      result:
        type: string
    required:
    - code
    - message
    - result
  GetAdmin:
    title: GetAdmin
    example:
      code: 200
      message: Success
      result:
        admins:
        - id: 1
          name: Admin
          phone: '089647583033'
          email: admin@mail.com
          created_at: 2022-06-12T20:14:28Z
          updated_at: 2022-06-12T20:14:28Z
        - id: 2
          name: Admin
          phone: '089647583033'
          email: admin12@mail.com
          created_at: 2022-06-15T12:13:52Z
          updated_at: 2022-06-15T12:13:52Z
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      result:
        $ref: '#/definitions/Result4'
    required:
    - code
    - message
    - result
  Result4:
    title: Result4
    example:
      admins:
      - id: 1
        name: Admin
        phone: '089647583033'
        email: admin@mail.com
        created_at: 2022-06-12T20:14:28Z
        updated_at: 2022-06-12T20:14:28Z
      - id: 2
        name: Admin
        phone: '089647583033'
        email: admin12@mail.com
        created_at: 2022-06-15T12:13:52Z
        updated_at: 2022-06-15T12:13:52Z
    type: object
    properties:
      admins:
        type: array
        items:
          $ref: '#/definitions/Admin'
    required:
    - admins
  Admin:
    title: Admin
    example:
      id: 1
      name: Admin
      phone: '089647583033'
      email: admin@mail.com
      created_at: 2022-06-12T20:14:28Z
      updated_at: 2022-06-12T20:14:28Z
    type: object
    properties:
      id:
        type: integer
        format: int32
      name:
        type: string
      phone:
        type: string
      email:
        type: string
      created_at:
        type: string
      updated_at:
        type: string
    required:
    - id
    - name
    - phone
    - email
    - created_at
    - updated_at
  GetAdmin2:
    title: GetAdmin2
    example:
      message: invalid or expired jwt
    type: object
    properties:
      message:
        type: string
    required:
    - message
  CreateMemberTypeRequest:
    title: CreateMemberTypeRequest
    example:
      name: Free
      description: Access Free Ccontent
      image: ''
      duration: 1
      price: 100000
    type: object
    properties:
      name:
        type: string
      description:
        type: string
      image:
        type: string
      duration:
        type: integer
        format: int32
      price:
        type: integer
        format: int32
    required:
    - name
    - description
    - image
    - duration
    - price
  CreateMemberType1:
    title: CreateMemberType1
    example:
      code: 401
      message: token expired
      result: null
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      result:
        type: string
    required:
    - code
    - message
    - result
  CreateMemberType2:
    title: CreateMemberType2
    example:
      code: 201
      message: Success
      result:
        id: 2
        name: Free
        description: Access Free Ccontent
        price: 100000
        created_at: 2022-06-29T17:01:51.012Z
        updated_at: 2022-06-29T17:01:51.012Z
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      result:
        $ref: '#/definitions/Result5'
    required:
    - code
    - message
    - result
  Result5:
    title: Result5
    example:
      id: 2
      name: Free
      description: Access Free Ccontent
      price: 100000
      created_at: 2022-06-29T17:01:51.012Z
      updated_at: 2022-06-29T17:01:51.012Z
    type: object
    properties:
      id:
        type: integer
        format: int32
      name:
        type: string
      description:
        type: string
      price:
        type: integer
        format: int32
      created_at:
        type: string
      updated_at:
        type: string
    required:
    - id
    - name
    - description
    - price
    - created_at
    - updated_at
  CreateClassRequest:
    title: CreateClassRequest
    example:
      class_category_id: 3
      trainer_name: budi
      name: Class 5
      description: Haloss
      price: 980000
      meet_link: http://google.com
      category: push up
      image: http://google.com
      date: 2022-06-18
      start_time: 09:30:00
      end_time: 11:00:00
      trainer_id: 5
      is_offline: true
    type: object
    properties:
      class_category_id:
        type: integer
        format: int32
      trainer_name:
        type: string
      name:
        type: string
      description:
        type: string
      price:
        type: integer
        format: int32
      meet_link:
        type: string
      category:
        type: string
      image:
        type: string
      date:
        type: string
      start_time:
        type: string
      end_time:
        type: string
      trainer_id:
        type: integer
        format: int32
      is_offline:
        type: boolean
    required:
    - class_category_id
    - trainer_name
    - name
    - description
    - price
    - meet_link
    - category
    - image
    - date
    - start_time
    - end_time
    - trainer_id
    - is_offline
  CreateClass1:
    title: CreateClass1
    example:
      code: 401
      message: token expired
      result: null
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      result:
        type: string
    required:
    - code
    - message
    - result
  CreateClassCategoryRequest:
    title: CreateClassCategoryRequest
    example:
      name: push down
    type: object
    properties:
      name:
        type: string
    required:
    - name
  CreateClassCategory1:
    title: CreateClassCategory1
    example:
      code: 401
      message: token expired
      result: null
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      result:
        type: string
    required:
    - code
    - message
    - result
  CreateClassCategory2:
    title: CreateClassCategory2
    example:
      code: 201
      message: Success
      result:
        id: 1
        name: push down
        slug: push-down
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      result:
        $ref: '#/definitions/Result7'
    required:
    - code
    - message
    - result
  Result7:
    title: Result7
    example:
      id: 1
      name: push down
      slug: push-down
    type: object
    properties:
      id:
        type: integer
        format: int32
      name:
        type: string
      slug:
        type: string
    required:
    - id
    - name
    - slug
  CreateNewAdminRequest:
    title: CreateNewAdminRequest
    example:
      name: Admin
      phone: '089647583033'
      email: admin@mail.com
      password: password
    type: object
    properties:
      name:
        type: string
      phone:
        type: string
      email:
        type: string
      password:
        type: string
    required:
    - name
    - phone
    - email
    - password
  CreateNewAdmin:
    title: CreateNewAdmin
    example:
      code: 201
      message: Success
      result:
        id: 3
        name: Admin2
        phone: '0896287363'
        email: admin2@mail.com
        created_at: 2022-06-29T17:11:26.185Z
        updated_at: 2022-06-29T17:11:26.185Z
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      result:
        $ref: '#/definitions/Result8'
    required:
    - code
    - message
    - result
  Result8:
    title: Result8
    example:
      id: 3
      name: Admin2
      phone: '0896287363'
      email: admin2@mail.com
      created_at: 2022-06-29T17:11:26.185Z
      updated_at: 2022-06-29T17:11:26.185Z
    type: object
    properties:
      id:
        type: integer
        format: int32
      name:
        type: string
      phone:
        type: string
      email:
        type: string
      created_at:
        type: string
      updated_at:
        type: string
    required:
    - id
    - name
    - phone
    - email
    - created_at
    - updated_at
  GetClassCategory1:
    title: GetClassCategory1
    example:
      code: 401
      message: token expired
      result: null
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      result:
        type: string
    required:
    - code
    - message
    - result
  GetClassCategory2:
    title: GetClassCategory2
    example:
      code: 200
      message: Success
      result:
        class_category:
          data:
          - id: 1
            name: push down
            slug: push-down
          page: 1
          page_size: 10
          sort: Id desc
          total_page: 1
          total_rows: 1
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      result:
        $ref: '#/definitions/Result9'
    required:
    - code
    - message
    - result
  Result9:
    title: Result9
    example:
      class_category:
        data:
        - id: 1
          name: push down
          slug: push-down
        page: 1
        page_size: 10
        sort: Id desc
        total_page: 1
        total_rows: 1
    type: object
    properties:
      class_category:
        $ref: '#/definitions/ClassCategory'
    required:
    - class_category
  ClassCategory:
    title: ClassCategory
    example:
      data:
      - id: 1
        name: push down
        slug: push-down
      page: 1
      page_size: 10
      sort: Id desc
      total_page: 1
      total_rows: 1
    type: object
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/Datum'
      page:
        type: integer
        format: int32
      page_size:
        type: integer
        format: int32
      sort:
        type: string
      total_page:
        type: integer
        format: int32
      total_rows:
        type: integer
        format: int32
    required:
    - data
    - page
    - page_size
    - sort
    - total_page
    - total_rows
  Datum:
    title: Datum
    example:
      id: 1
      name: push down
      slug: push-down
    type: object
    properties:
      id:
        type: integer
        format: int32
      name:
        type: string
      slug:
        type: string
    required:
    - id
    - name
    - slug
  GetClassCategory4:
    title: GetClassCategory4
    example:
      message: invalid or expired jwt
    type: object
    properties:
      message:
        type: string
    required:
    - message
  GetClass:
    title: GetClass
    example:
      code: 200
      message: Success
      result:
        classes:
          data:
          - class_category_id: 1
            trainer_name: Sofyan
            id: 4
            name: Class 3
            description: Halos
            price: 10000
            meet_link: http://google.com
            image: http://google.com
            date: 2022-06-18T00:00:00Z
            start_time: 09:30:00
            end_time: 11:00:00
            is_offline: true
            category_name: push down
            created_at: 2022-07-11T00:52:56Z
            updated_at: 2022-07-11T00:52:56Z
          page: 1
          page_size: 10
          sort: Id desc
          total_page: 1
          total_rows: 1
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      result:
        $ref: '#/definitions/Result10'
    required:
    - code
    - message
    - result
  Result10:
    title: Result10
    example:
      classes:
        data:
        - class_category_id: 1
          trainer_name: Sofyan
          id: 4
          name: Class 3
          description: Halos
          price: 10000
          meet_link: http://google.com
          image: http://google.com
          date: 2022-06-18T00:00:00Z
          start_time: 09:30:00
          end_time: 11:00:00
          is_offline: true
          category_name: push down
          created_at: 2022-07-11T00:52:56Z
          updated_at: 2022-07-11T00:52:56Z
        page: 1
        page_size: 10
        sort: Id desc
        total_page: 1
        total_rows: 1
    type: object
    properties:
      classes:
        $ref: '#/definitions/Classes'
    required:
    - classes
  Classes:
    title: Classes
    example:
      data:
      - class_category_id: 1
        trainer_name: Sofyan
        id: 4
        name: Class 3
        description: Halos
        price: 10000
        meet_link: http://google.com
        image: http://google.com
        date: 2022-06-18T00:00:00Z
        start_time: 09:30:00
        end_time: 11:00:00
        is_offline: true
        category_name: push down
        created_at: 2022-07-11T00:52:56Z
        updated_at: 2022-07-11T00:52:56Z
      page: 1
      page_size: 10
      sort: Id desc
      total_page: 1
      total_rows: 1
    type: object
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/Datum1'
      page:
        type: integer
        format: int32
      page_size:
        type: integer
        format: int32
      sort:
        type: string
      total_page:
        type: integer
        format: int32
      total_rows:
        type: integer
        format: int32
    required:
    - data
    - page
    - page_size
    - sort
    - total_page
    - total_rows
  Datum1:
    title: Datum1
    example:
      class_category_id: 1
      trainer_name: Sofyan
      id: 4
      name: Class 3
      description: Halos
      price: 10000
      meet_link: http://google.com
      image: http://google.com
      date: 2022-06-18T00:00:00Z
      start_time: 09:30:00
      end_time: 11:00:00
      is_offline: true
      category_name: push down
      created_at: 2022-07-11T00:52:56Z
      updated_at: 2022-07-11T00:52:56Z
    type: object
    properties:
      class_category_id:
        type: integer
        format: int32
      trainer_name:
        type: string
      id:
        type: integer
        format: int32
      name:
        type: string
      description:
        type: string
      price:
        type: integer
        format: int32
      meet_link:
        type: string
      image:
        type: string
      date:
        type: string
      start_time:
        type: string
      end_time:
        type: string
      is_offline:
        type: boolean
      category_name:
        type: string
      created_at:
        type: string
      updated_at:
        type: string
    required:
    - class_category_id
    - trainer_name
    - id
    - name
    - description
    - price
    - meet_link
    - image
    - date
    - start_time
    - end_time
    - is_offline
    - category_name
    - created_at
    - updated_at
  GetClass2:
    title: GetClass2
    example:
      message: invalid or expired jwt
    type: object
    properties:
      message:
        type: string
    required:
    - message
security: []
tags:
- name: Member
- name: User
- name: Admin
- name: Class
